@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  grid-template-rows: 1fr 1fr; /* Two rows of equal height */
  height: 100vh; /* Adjust the height as needed */
}

.first-div {
  grid-column: 1 / 2; /* Starts at column 1 and ends at column 2 */
  grid-row: span 2; /* Takes up two rows */
  background-color: #3498db; /* Just for styling */
  color: white; /* Just for styling */
  padding: 20px; /* Just for styling */
}

.second-div,
.third-div {
  background-color: #2ecc71; /* Just for styling */
  color: white; /* Just for styling */
  padding: 20px; /* Just for styling */
}

.second-div {
  grid-column: 2 / 3; /* Starts at column 2 and ends at column 3 */
}

.third-div {
  grid-column: 2 / 3; /* Starts at column 2 and ends at column 3 */
  grid-row: 2 / 3; /* Starts at row 2 and ends at row 3 */
}

.slick-slide > div {
  padding-right: 30px;
}
